[submodule "src/zlib"]
	path = src/zlib
	url = https://bucket.convey.com/Convey/github-zlib.git
[submodule "src/fast-aes"]
	path = src/fast-aes
	url = https://bucket.convey.com/Convey/fast-aes.git
[submodule "__submodules/fast-aes"]
	path = __submodules/fast-aes
	url = https://github.com/Convey-Compliance/fast-aes.git
[submodule "__submodules/zlib"]
	path = __submodules/zlib
	url = https://github.com/Convey-Compliance/zlib.git
